<br><br><br><br>
<button mat-raised-button color="primary" routerLink="/addinquiry">New Appointment</button>
&nbsp;&nbsp;&nbsp;
<button mat-raised-button color="primary" routerLink="/patients">Patient Details</button>
&nbsp;&nbsp;&nbsp;
<button mat-raised-button color="primary" routerLink="/dataSource">Data Source</button>
<br><br><br><br>
<h1 class="display">Appointments</h1>
<table class="table">
    <thead>
        <tr>
            <th scope="col">Appointment ID</th>
            <th scope="col">Patient ID</th>
            <th scope="col">Name</th>
            <th scope="col">Address</th>
            <th scope="col">Phone</th>
            <th scope="col">Age</th>
            <th scope="col">Email</th>
            <th scope="col">Gender</th>
            <th scope="col">Date</th>
            <th scope="col">Time</th>
            <th scope="col">Description</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let pDetails of patientDetails">
            <th scope="row">{{pDetails.id}}</th>
            <td>{{pDetails.patient_id}}</td>
            <td>{{pDetails.name}}</td>
            <td>{{pDetails.address}}</td>
            <td>{{pDetails.phone}}</td>
            <td>{{pDetails.age}}</td>
            <td>{{pDetails.email}}</td>
            <td>{{pDetails.gender}}</td>
            <td>{{pDetails.date}}</td>
            <td>{{pDetails.time}}</td>
            <td>{{pDetails.description}}</td>
            <td>
                <button mat-icon-button color="warn" (click)="deleteDetails(pDetails.id)"><mat-icon>delete_outline</mat-icon></button>
            </td>
        </tr>
    </tbody>
</table>