<div class="container">
  <div class="row">
    <div class="col">
      <div class="card">
        <div class="text-center">
          <h1 class="display">Login</h1>
          
        </div>
        <form (ngSubmit)="login()">
          <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Email address</label>
            <input type="email" class="form-control"  required  [(ngModel)]="loginn.email" [ngModelOptions]="{standalone:true}">
          </div>
          <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label">Password</label>
            <input type="password" class="form-control"  required  [(ngModel)]="loginn.password" [ngModelOptions]="{standalone:true}">
          </div>

          <button type="submit" class="btn btn-primary" >Login</button>
          <br><br>
          <a routerLink="/signup">New User? Click to Signup</a>
        </form>
      </div>
    </div>
  </div>
</div>