<div class="container">
  <div class="row">
    <div class="col">
      <div class="card">
        <div class="text-center">
          <h1 class="display">Login</h1>
          
        </div>
        <form (ngSubmit)="login()" [formGroup]="loginForm">
          <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Email address</label>
            <input  type="email" class="form-control"  required  [(ngModel)]="loginn.email" name="email"  formControlName="email">
         
            <span class="error" *ngIf="email?.invalid && email?.touched">Valid Email Required</span>
          </div>
          <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label">Password</label>
            <input type="password" class="form-control"  required  [(ngModel)]="loginn.password"formControlName="password" >
          
            <span class="error" *ngIf="password?.invalid && password?.touched">Password Required</span>
          </div>

          <button type="submit" class="btn btn-primary" [disabled]="loginForm.invalid">Login</button>
          <br><br>
          <a routerLink="/signup">New User? Click to Signup</a>
        </form>
      </div>
    </div>
  </div>
</div>