<h1 class="display">Patients Details</h1>
<table class="table">
    <thead>
        <tr>
            <th scope="col">id</th>
            <th scope="col">Name</th>
            <th scope="col">Address</th>
            <th scope="col">Phone</th>
            <th scope="col">Age</th>
            <th scope="col">Email</th>
            <th scope="col">Gender</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let pDetails of patients">
            <th scope="row">{{pDetails.id}}</th>
            <td>{{pDetails.name}}</td>
            <td>{{pDetails.address}}</td>
            <td>{{pDetails.phone}}</td>
            <td>{{pDetails.age}}</td>
            <td>{{pDetails.email}}</td>
            <td>{{pDetails.gender}}</td>

            <td>
    
                <button mat-icon-button color="warn" (click)="deletePatient(pDetails.id)"><mat-icon>delete_outline</mat-icon></button>
                <button mat-icon-button color="primary" routerLink="/editPatients/{{pDetails.id}}"><mat-icon>edit_outline</mat-icon></button>

            </td>
        </tr>
    </tbody>
</table>